# Ignore node_modules (re-installed inside Docker)
node_modules

# Ignore production builds and temporary files
.next
dist
out

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log

# OS/System files
.DS_Store
Thumbs.db

# Git files
.git
.gitignore

# Editor/IDE settings
.vscode
.idea

# Environment and local configs
.env.local
.env.development
.env.test
.env.production
.env

# Docker related files
Dockerfile
.dockerignore
